body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.yellow {
    color: #fcdb00;
}

.header {
    background: #fcdb00;
    color: #010101;
    padding-top: 58px;
    padding-bottom: 105px;
}

.menu {
    margin-top: 8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.offer {
    margin-top: 117px;
}

.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}

.offer__text {
    font-size: 16px;
    margin-top: 20px;
    width: 400px;
    color: #555555;
}

.icons__item {
    margin-right: 30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all .3ms ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: darkred;
}

.iPad {
    display: block;
    margin: 60px auto;
}

.title {
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 32px;
}

.title__main {
    font-size: 32px;

}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.feature {
    margin-bottom: 65px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__text {
    color: #555555;
}

.touch {
    background-color: #010101;
    color: white;
}

.yellow {
    color: #fcdb00;
}

.form {
    font-family: 'PT Sans', sans-serif;
    text-align: center;

}

.form__input {
    background-color: white;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 14px 0;
    padding-left: 23px;
    margin-right: 21px;
    outline: none;
}

.form__btn {
    cursor: pointer;
    width: 126px;
    font-family: 'PT Sans', sans-serif;
    background-color: #fcdb00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 0;

}

.footer {
    background-color: #000;
    padding: 50px 0 94px;

}

.credits {
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 184px;
    margin: 0 auto;
}

/* @media */
@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .offer {
        text-align: center;
    }

    .offer__text {
        margin: 20px auto;
        width: auto;
    }

    .icons {
        justify-content: center;
    }

    .icons__item:nth-child(3) {
        margin-right: 0;
    }

    .form__input {
        margin-right: 0;
        width: 100%;
    }

    .form__btn {
        margin-top: 20px;
        width: 100%;
    }

    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .iPad {
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu__item {
        text-align: center;
        margin-bottom: 10px;
    }
}
